@charset "UTF-8";
/* beautiful (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #C695B3;
	text-align: center;
	letter-spacing: 1px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	color: black;
}



/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #56C9BC;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.task-head {
	text-decoration: underline;
}

#chevron {
	padding-bottom: 1vh;
}

#task {
	position: absolute;
	z-index: 1;
	padding: 0.5vh 10vw;
	background-color: #ECECEC;
}



/* MAIN */



/* FOOTER */